# import

In [1]:
import pandas as pd

# 보통 현재 작업 폴더(CWD)가 src 이므로 부모(프로젝트 루트)를 sys.path에 추가
import sys, os
from pathlib import Path

ROOT = Path.cwd().parent
if (ROOT / "utils").exists():
    sys.path.insert(0, str(ROOT))
else:
    # 혹시 구조가 더 깊을 때 대비
    ROOT2 = ROOT.parent
    if (ROOT2 / "utils").exists():
        sys.path.insert(0, str(ROOT2))

from utils.mediapipe_util import get_landmark_data, LANDMARK_MODE

# 라벨 데이터

In [2]:
sign_code_df = pd.read_csv("../../data/sign_code.csv")

In [3]:
sign_code_df

    label  sign_num  seq_Id sign_text  seq_count
0       0         1       0         1          1
1       1         2       0         2          1
2       2         3       0         3          1
3       3         4       0         4          1
4       4         5       0         5          1
5       5         6       0         6          1
6       6         7       0         7          1
7       7         8       0         8          1
8       8         9       0         9          1
9       9        10       0        10          2
10     10        10       1        10          2
11     11        11       0         예          1
12     12        12       0       아니오          2
13     13        12       1       아니오          2
14     14        13       0       좋아요          1
15     15        14       0       싫어요          1
16     16        15       0        맞다          1
17     17        16       0       틀리다          2
18     18        16       1       틀리다          2
19     19        17       0        쉽다          2
20     20        17       1        쉽다          2
21     21        18       0       어렵다          2
22     22        18       1       어렵다          2
23     23        19       0       있어요          1
24     24        20       0       없어요          1

# 데이터 병합

## 수집한 데이터 합치기

In [4]:
HAND_COUNT = 21 * 3
POSE_COUNT = 11 * 3

## 헤더 추가
🚨 주의!!!! 이미 헤더가 있는 경우 또 추가될 수 있음!

In [5]:
# for i in range(7, 8):
#     data = pd.read_csv(f"../../data/sign_data/sign_data_{i}.csv")
    # data.insert(0, 'label', [i] * len(data))
    # columns = [i for i in range(len(data.columns) - 1)]
    # columns.insert(0, 'label')
    # data.columns = columns
    # data.to_csv(f"../../data/sign_data/sign_data_{i}.csv", index=False)

In [6]:
# i = 5
# data = pd.read_csv(f"../../data/sign_data/sign_data_{i}.csv", index_col=False)
# data.loc[:, 'label'] = i
# data.to_csv(f"../../data/sign_data/sign_data_{i}.csv", index=False)

## 병합

In [7]:
merged_data = pd.DataFrame()

for i, label in enumerate([0, 1, 2, 3, 4, 5, 6, 14, 15, 16, 24]):
    print(label)
    data = pd.read_csv(f"../../data/sign_data/sign_data_{label}.csv", index_col=False)
    data = data.drop(['label'], axis=1)
    data.loc[:, 'label'] = i
    data = data.sample(n = 500, replace=False)
    merged_data = pd.concat([merged_data, data], ignore_index=True)

df = merged_data

0
1
2
3
4
5
6
14
15
16
24

In [8]:
df

,0,1,2,3,4,5,6,7,8,9,...,150,151,152,153,154,155,156,157,158,label
0,0,0,0,0,0,0,0,0,0,0,...,0.414344,0.441436,-0.388483,0.520840,0.509255,-0.675579,0.465188,0.512263,-0.675106,0
1,0,0,0,0,0,0,0,0,0,0,...,0.413644,0.435605,-0.348468,0.503538,0.516863,-0.535395,0.456392,0.511376,-0.546321,0
2,0,0,0,0,0,0,0,0,0,0,...,0.418906,0.473995,-0.265760,0.522702,0.544301,-0.413421,0.468693,0.546091,-0.427781,0
3,0,0,0,0,0,0,0,0,0,0,...,0.414890,0.437654,-0.311598,0.515444,0.511734,-0.539152,0.461784,0.510433,-0.550109,0
4,0,0,0,0,0,0,0,0,0,0,...,0.414313,0.444046,-0.254120,0.521943,0.512693,-0.498799,0.465716,0.513639,-0.500402,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5495,0,0,0,0,0,0,0,0,0,0,...,0.393909,0.498741,-0.300793,0.494988,0.588853,-0.555222,0.435057,0.589883,-0.547133,10
5496,0,0,0,0,0,0,0,0,0,0,...,0.371475,0.442429,-0.439422,0.485862,0.539371,-0.707727,0.422799,0.544327,-0.707410,10
5497,0,0,0,0,0,0,0,0,0,0,...,0.378364,0.450481,-0.279801,0.487418,0.529737,-0.511982,0.425152,0.530001,-0.509610,10
5498,0,0,0,0,0,0,0,0,0,0,...,0.361799,0.416760,-0.327747,0.484884,0.507316,-0.610810,0.417177,0.512805,-0.597438,10
5499,0,0,0,0,0,0,0,0,0,0,...,0.369715,0.441118,-0.659632,0.503303,0.555348,-0.965179,0.434546,0.557918,-0.975494,10

In [9]:
# merged_data.to_csv("../../data/merge_num_7_data.csv", index=False)

# 데이터 불러오기

In [10]:
# import pandas as pd
# df = pd.read_csv("../../data/merge_num_7_data.csv")

## 클래스 확인

In [11]:
df['label'].unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10], dtype=int64)

## x, y 데이터

In [12]:
y = df['label']
x = df.drop(['label'], axis=1)

print(x.shape, y.shape)

(5500, 159) (5500,)

# 데이터 전처리

In [13]:
right_points_x = x.iloc[:, 63:63+63]
face_points_x = x.iloc[:, 63+63:]
nose_point_x = face_points_x.iloc[:, 0]
print(right_points_x.shape, face_points_x.shape, nose_point_x.shape)

(5500, 63) (5500, 33) (5500,)

In [14]:
# angles_list = []
# vector_list = []
# face_hand_vector_list = []
result = []
for i in range(len(right_points_x)):
    hand_row = right_points_x.iloc[i].tolist()
    face_row = face_points_x.iloc[i].tolist()

    data = get_landmark_data({"Left": [], "Right": hand_row, "Face": face_row}, mode = LANDMARK_MODE.ANGLE_VECTOR_CURV_FACE_NOSE)
    result.append(data.reshape((-1)))

result_x = pd.DataFrame(result)

In [15]:
# result_x.to_csv("../../data/angle_vector_num_7_data.csv", index=False)

## 데이터 분할하기

In [16]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(result_x, y, test_size=0.2, random_state=42, shuffle=True, stratify=y)

## 데이터 스케일링

In [17]:
# from sklearn.preprocessing import MinMaxScaler
# mms = MinMaxScaler()
# x_train = mms.fit_transform(x_train)
# x_test = mms.transform(x_test)

## 모델 학습

In [18]:
from xgboost import XGBClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
import lightgbm as lgb
import numpy as np

# model = lgb.LGBMClassifier(n_estimators=300, random_state=42)
model = XGBClassifier(n_estimators=200, max_depth=3, learning_rate=0.01)
#model = RandomForestClassifier(n_estimators=300, max_depth=5, random_state=42)
#model = LogisticRegression(solver='liblinear', max_iter=100)
model.fit(x_train, y_train)

score = model.score(x_test, y_test)

print(f"Accuracy: {np.round(score*100, 2)}%")

Accuracy: 98.55%

In [19]:
from sklearn.metrics import classification_report

y_pred = model.predict(x_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99       100
           1       0.95      0.98      0.97       100
           2       0.98      0.96      0.97       100
           3       1.00      1.00      1.00       100
           4       1.00      0.99      0.99       100
           5       0.98      0.98      0.98       100
           6       1.00      0.99      0.99       100
           7       0.99      0.99      0.99       100
           8       0.98      0.97      0.97       100
           9       1.00      1.00      1.00       100
          10       0.97      0.99      0.98       100

    accuracy                           0.99      1100
   macro avg       0.99      0.99      0.99      1100
weighted avg       0.99      0.99      0.99      1100

## 모델 저장하기

In [20]:
import joblib

joblib.dump(model, "../../models/xgb_sample_model.pkl")

['../../models/xgb_sample_model.pkl']

# 모델 로드

In [28]:
MODEL_PATH = "../../models/xgb_sample_angle_vector_model.pkl"
model = joblib.load(MODEL_PATH)
model.n_features_in_
model.classes_

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

105