## 수집한 데이터 합치기

In [3]:
HAND_COUNT = 21 * 3
POSE_COUNT = 11 * 3

In [45]:
import pandas as pd
merged_data = pd.DataFrame()

for i in range(0, 5):
    data = pd.read_csv(f"../../data/sign_data/sign_data_{i}.csv")
    # data.insert(0, 'label', [i] * len(data))
    # columns = [i for i in range(len(data.columns) - 1)]
    # columns.insert(0, 'label')
    # data.columns = columns
    # data.to_csv(f"../../data/sign_data/sign_data_{i}.csv", index=False)
    data = data.sample(n = 270, replace=False)
    merged_data = pd.concat([merged_data, data], ignore_index=True)

merged_data

,label,0,1,2,3,4,5,6,7,8,...,149,150,151,152,153,154,155,156,157,158
0,0,0,0,0,0,0,0,0,0,0,...,-0.443934,0.414744,0.451149,-0.462809,0.516315,0.522498,-0.709658,0.463946,0.521893,-0.714134
1,0,0,0,0,0,0,0,0,0,0,...,-0.248605,0.409375,0.425978,-0.252086,0.505395,0.502800,-0.459958,0.455611,0.499344,-0.461558
2,0,0,0,0,0,0,0,0,0,0,...,-0.255206,0.430423,0.440026,-0.257379,0.532481,0.506351,-0.478195,0.481203,0.507814,-0.479957
3,0,0,0,0,0,0,0,0,0,0,...,-0.258484,0.410253,0.412633,-0.334710,0.506399,0.492974,-0.492064,0.459552,0.490663,-0.512453
4,0,0,0,0,0,0,0,0,0,0,...,-0.256476,0.408960,0.417745,-0.349033,0.502791,0.496232,-0.485913,0.453101,0.495144,-0.511288
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1345,4,0,0,0,0,0,0,0,0,0,...,-0.198207,0.415546,0.442012,-0.221166,0.509477,0.505089,-0.444988,0.459402,0.509647,-0.452301
1346,4,0,0,0,0,0,0,0,0,0,...,-0.163156,0.419850,0.447195,-0.200299,0.519010,0.515951,-0.409446,0.468182,0.519875,-0.420494
1347,4,0,0,0,0,0,0,0,0,0,...,-0.470822,0.469246,0.450010,-0.549749,0.557186,0.524353,-0.730082,0.512770,0.518571,-0.752361
1348,4,0,0,0,0,0,0,0,0,0,...,-0.191050,0.415791,0.447042,-0.250652,0.513949,0.510164,-0.433540,0.463385,0.514274,-0.452572
1349,4,0,0,0,0,0,0,0,0,0,...,-0.216588,0.417321,0.417871,-0.298674,0.519883,0.496035,-0.484775,0.466647,0.496063,-0.508668

In [46]:
merged_data.to_csv("../../data/merged_num_data.csv", index=False)

## 데이터 불러오기

In [47]:
import pandas as pd
df = pd.read_csv("../../data/merged_num_data.csv")
df

,label,0,1,2,3,4,5,6,7,8,...,149,150,151,152,153,154,155,156,157,158
0,0,0,0,0,0,0,0,0,0,0,...,-0.443934,0.414744,0.451149,-0.462809,0.516315,0.522498,-0.709658,0.463946,0.521893,-0.714134
1,0,0,0,0,0,0,0,0,0,0,...,-0.248605,0.409375,0.425978,-0.252086,0.505395,0.502800,-0.459958,0.455611,0.499344,-0.461558
2,0,0,0,0,0,0,0,0,0,0,...,-0.255206,0.430423,0.440026,-0.257379,0.532481,0.506351,-0.478195,0.481203,0.507814,-0.479957
3,0,0,0,0,0,0,0,0,0,0,...,-0.258484,0.410253,0.412633,-0.334710,0.506399,0.492974,-0.492064,0.459552,0.490663,-0.512453
4,0,0,0,0,0,0,0,0,0,0,...,-0.256476,0.408960,0.417745,-0.349033,0.502791,0.496232,-0.485913,0.453101,0.495144,-0.511288
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1345,4,0,0,0,0,0,0,0,0,0,...,-0.198207,0.415546,0.442012,-0.221166,0.509477,0.505089,-0.444988,0.459402,0.509647,-0.452301
1346,4,0,0,0,0,0,0,0,0,0,...,-0.163156,0.419850,0.447195,-0.200299,0.519010,0.515951,-0.409446,0.468182,0.519875,-0.420494
1347,4,0,0,0,0,0,0,0,0,0,...,-0.470822,0.469246,0.450010,-0.549749,0.557186,0.524353,-0.730082,0.512770,0.518571,-0.752361
1348,4,0,0,0,0,0,0,0,0,0,...,-0.191050,0.415791,0.447042,-0.250652,0.513949,0.510164,-0.433540,0.463385,0.514274,-0.452572
1349,4,0,0,0,0,0,0,0,0,0,...,-0.216588,0.417321,0.417871,-0.298674,0.519883,0.496035,-0.484775,0.466647,0.496063,-0.508668

In [48]:
df['label'].unique()

array([0, 1, 2, 3, 4], dtype=int64)

In [40]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df.iloc[:, 0] = le.fit_transform(df.iloc[:, 0])
print(le.classes_)

[0 1 2]

## 데이터 분할하기

In [56]:
y = df.iloc[:, 0]
x = df.iloc[:, 1:]

right_points_x = df.iloc[:, 64:64+63]

In [57]:
right_points_x.shape

(1350, 63)

In [50]:
# 보통 현재 작업 폴더(CWD)가 src 이므로 부모(프로젝트 루트)를 sys.path에 추가
import sys, os
from pathlib import Path

ROOT = Path.cwd().parent
if (ROOT / "utils").exists():
    sys.path.insert(0, str(ROOT))
else:
    # 혹시 구조가 더 깊을 때 대비
    ROOT2 = ROOT.parent
    if (ROOT2 / "utils").exists():
        sys.path.insert(0, str(ROOT2))

In [51]:
from utils.angular_util import compute_joint_angles

In [59]:
angles_list = []
for i in range(len(right_points_x)):
    row = right_points_x.iloc[i].tolist()
    angles, _, _ = compute_joint_angles(row)
    angles_list.append(angles)

print(angles_list[0])

[19.21281926176057, 23.91344983241494, 63.01162104257986, 23.418891553831404, 6.551969441481176, 2.240627553793942, 77.48999519686346, 86.36671549577534, 16.505145511116524, 100.9310330225527, 74.63368702027545, 22.990745554972786, 119.65231258314466, 52.600644448507346, 22.752001343148923]

In [60]:
len(angles_list)

1350

In [61]:
angles_x = pd.DataFrame(angles_list, columns=None)

In [62]:
angles_x.to_csv("../../data/angle_num_data.csv", index=False)

In [63]:
angles_x

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,19.212819,23.913450,63.011621,23.418892,6.551969,2.240628,77.489995,86.366715,16.505146,100.931033,74.633687,22.990746,119.652313,52.600644,22.752001
1,18.329116,29.112993,83.297538,14.215991,1.494876,3.738806,45.684759,113.955781,22.945259,59.256212,114.484548,29.791291,62.700324,116.143434,33.431972
2,32.215312,27.007499,33.987410,15.795718,3.445719,7.355662,38.369561,131.697796,20.083960,48.772719,129.352201,26.889722,38.008700,138.830443,18.826251
3,29.978430,21.120183,6.748214,71.709509,95.866827,37.943213,82.619808,95.482446,53.342221,86.633695,95.313358,58.150728,88.737078,86.824268,57.006852
4,25.510746,19.077441,68.722768,14.578490,6.670489,7.172877,79.734616,84.214572,41.597154,97.042832,83.433200,37.282190,106.732378,67.260382,46.443667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1345,27.504045,0.931310,15.631368,63.311281,115.472405,77.576235,77.855270,100.077016,134.855738,67.010022,118.628884,91.229466,40.393067,143.481320,46.716864
1346,31.359000,6.774312,19.490770,84.610770,81.594657,97.204495,119.756542,54.646530,149.673367,109.909147,77.336768,114.809726,65.658770,123.470200,73.244708
1347,15.794732,13.086580,12.117516,32.785957,35.679413,45.289226,76.668674,89.034182,11.904900,92.598889,82.653363,16.586579,54.478617,121.186057,14.337779
1348,33.793476,4.070158,22.635177,43.235413,125.650184,35.730130,74.246720,101.258518,138.281092,69.248430,119.860146,106.488447,51.299657,140.477685,75.348051
1349,41.140376,12.851578,5.537722,75.499993,101.729429,10.399594,115.655439,73.098598,121.123844,125.721799,66.792805,95.419178,128.456157,57.686237,64.787185

In [64]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(angles_x, y, test_size=0.2, random_state=42, shuffle=True, stratify=y)

## 데이터 스케일링

In [101]:
# from sklearn.preprocessing import MinMaxScaler
# mms = MinMaxScaler()
# x_train = mms.fit_transform(x_train)
# x_test = mms.transform(x_test)

## 모델 학습

In [65]:
from xgboost import XGBClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
import numpy as np

model = XGBClassifier(n_estimators=200, max_depth=3, learning_rate=0.1)
#model = RandomForestClassifier(n_estimators=300, max_depth=5, random_state=42)
#model = LogisticRegression(solver='liblinear', max_iter=100)
model.fit(x_train, y_train)

score = model.score(x_test, y_test)

print(f"Accuracy: {np.round(score*100, 2)}%")

Accuracy: 98.89%

In [66]:
from sklearn.metrics import classification_report

y_pred = model.predict(x_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.98      1.00      0.99        54
           1       0.98      1.00      0.99        54
           2       1.00      0.96      0.98        54
           3       0.98      1.00      0.99        54
           4       1.00      0.98      0.99        54

    accuracy                           0.99       270
   macro avg       0.99      0.99      0.99       270
weighted avg       0.99      0.99      0.99       270

## 모델 저장하기

In [67]:
import joblib

joblib.dump(model, "../../models/xgb_num_angle_model.pkl")

['../../models/xgb_num_angle_model.pkl']